.span9
  %h2 #{ link_to @mytabata1.name, @mytabata1, :class => 'exercise'}
  = image_tag @mytabata1.image_url.to_s
 


  %h2 #{ link_to @mytabata2.name, @mytabata2, :class => 'exercise'}
  = image_tag @mytabata2.image_url.to_s
 

    
    