.span9
  %h2 #{ link_to @tabata1.name, @tabata1, :class => 'exercise'}
  = image_tag @tabata1.image_url.to_s 
 


  %h2 #{ link_to @tabata2.name, @tabata2, :class => 'exercise'}
  = image_tag @tabata2.image_url 
 

    
    