.row
  .span12
    .footernotes
      %hr
      = "Don't have time to workout?  just do 2 "
      = link_to( 'tabatas ', 'http://en.wikipedia.org/wiki/High-intensity_interval_training#Tabata_method')
      ="today."
